/**     
  |============================
  | Base styles
  |============================
*/

:root {
--text: #434455;
--primary-brand: #4D5AE5;
--logo-font: "Raleway", sans-serif;
--acsent: #E7E9FC;
--light: #F4F4FD;
--dark: #2E2F42;
--pressed-state: #404BBF;
--secondary-accent-color: #0288d1;
--active-link-color: #f44336;
--succsess: #31D0AA;
--white: #fff;
--modal-overlay: #2E2F4266;
--hero-background-color: #2E2F42B2;
}
body {
    /* Body */
font-family: "Roboto", sans-serif;
color: var(--text);
background-color: var(--white);
  }
  .link {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--dark)
          }
      .link:hover,
      .link:focus {
        color: var(--pressed-state);
      }
          .list {
            list-style: none
          }
  .item { 
    display: inline; 
  }
 
  .contacts {
    color: var(--text);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
  }

  /**
    |============================
    | Header styles
    |============================
  */
 
  
 
.logo {
  color: var(--primary-brand);
  font-family: var(--logo-font);
font-size: 18px;
font-weight: 800;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none
}
.logo>.partlogo-header {
  color: var(--dark);
}
.logo>.partlogo-footer {
  color: var(--light);
}
    .header-list:active,
    .header-list:hover,
    .header-list:focus {
    color: var(--pressed-state);
  }
  
  .header-item {
    color: var(--dark);
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
  }
  .link-address {
    color:var(--text)
  }
  .item-address:active,
  .item-address:hover,
    .item-address:focus  {
    color: var(--pressed-state);
  }

  /* Main */
  .head-one {
    color: var(--white);
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em;
  }
  
  .head-two {
    color: var(--dark);
    text-align: center;
font-family: inherit;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
  }
  
  .head-three {color: var(--dark);
    
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .head-two-portfolio {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
  }
  .studio {
    background-color: var(--dark);
  }
  .buttonstyle {
    cursor: pointer;
  }
  .studio-button {
background-color: var(--primary-brand);
color: var(--white, #FFF);
font-family: inherit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.04em;
  }
  .studio-button:hover,
  .studio-button:focus
   {
    background-color: var(--pressed-state);
  }
 
    .n-text {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--text);
    }
  .portfolio-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background-color: var(--light);
  }
  .portfolio-button:hover,
  .portfolio-button:focus {
    color: var(--white);
    background-color: var(--pressed-state);
  }
  .portfolio-item {
background-color: var(--white, #FFF);
  }
  .contacts{
    background-color: var(--light);
  }
  .item-contacts {
    background-color: var(--white);
  }
  /* Footer */
  .footer {
    background-color: var(--dark);
  }
  .logo-footer {
    color: var(--primary-brand);
font-family: var(--logo-font);
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.7; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
  }
  .partlogo-footer {
    color: var(--light);
  }
  .footer-text {
    color: var(--cloud, #F4F4FD); 
font-family: "Roboto" sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
  }